<section>
    <img src="./assets/logo/Group 13.png" alt="logo-empresa" height="50px">
    <button mat-fab extended color="primary" (click)="scrollTop()">
        <mat-icon>arrow_upward</mat-icon>
    </button>
</section>
<mat-grid-list cols="4" rowHeight="2:1.5">
    <mat-grid-tile colspan="1" rowspan="2">
        <h4>Enlaces</h4>
        <ul>
            <li><a href="">Fabricante</a></li>
            <li><a href="">Resumen</a></li>
            <li><a href="">Objeto</a></li>
            <li><a href="">Alcance</a></li>
            <li><a href="">Licencia</a></li>
            <li><a href="">Servicio</a></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        <h4>Navegación</h4>
        <ul>
            <li><a href="">Nuestra empresa</a></li>
            <li><a href="">Historia</a></li>
            <li><a href="">Organigrama</a></li>
            <li><a href="">Misión y Visión</a></li>
            <li><a href="">Talento humano</a></li>
            <li><a href="">Premios</a></li>
            <li><a href="">Certificaciones</a></li>
            <li><a href="">Cultura y Sistema de Gestión</a></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2" class="contacts">
        <h4>Contactos</h4>
        <p>Correo:</p>
        <p>info@lorem.cu</p>
        <p>Teléfono:</p>
        <p>12345678</p>
        <p>Atención a clientes:</p>
        <p>24563375</p>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        <ul>
            <li><a href="">Términos y condiciones.</a></li>
            <li><a href="">Políticas de privacidad.</a></li>
        </ul>
        <p>
            <a href=""><img src="./assets/social/Vector-1.png" alt="linken-in" height="25px" class="first"></a>
            <a href=""><img src="./assets/social/Vector.png" alt="facebook" height="25px"></a>
        </p>
    </mat-grid-tile>
</mat-grid-list>
<div>
    <p>Lorem Ipsum S. A. &#169; Todos los derechos reservados</p>
</div>