<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="2">
        <div class="image-bottom"></div>
        <div class="image-top"></div>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="2">
        <div>
            <h1>TRABAJA</h1>
            <h1>CON NOSOTROS</h1>
            <p>Los servicios se realizarán a partir del levantamiento información obtenida del cliente,
                con lo cual se desarrollarán los documento y contenidos para llevar a cabo las campañas pertinentes
                en redes sociales. Se realizarán estudios de mercado y análisis de público objetivo, lo cual permite
                implementar las estrategias a seguir. Se darán soporte y asistencia en la elaboración de contenido
                audiovisual.
            </p>
            <button mat-flat-button color="accent" [routerLink]="['/mainteance']">
                <p>CONVOCATORIAS</p>
            </button>
        </div>
    </mat-grid-tile>
</mat-grid-list>