<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile colspan="1" rowspan="2">
        <div>
            <h1>Lorem ipsum</h1>

            <h2>Lorem Ipsum dolor sit atem</h2>

            <p>Los servicios se realizarán a partir del levantamiento
                información obtenida del cliente,
                con lo cual se desarrollarán los documento y contenidos para llevar a cabo las campañas pertinentes
                en redes sociales. Se realizarán estudios de mercado y análisis de público objetivo, lo cual permite
                implementar las estrategias a seguir. Se darán soporte y asistencia en la elaboración de contenido
                audiovisual.
            </p>

            <button mat-flat-button [routerLink]="['/mainteance']">Nuestra empresa</button>
        </div>
    </mat-grid-tile>
</mat-grid-list>